*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #bbc6fa; */
    background-image: url("../image/chris-lee-70l1tDAI6rM-unsplash.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.quote--container{
    /* border: 2px solid red; */
    /* text-align: center; */
    height: 600px;
    margin-top: 10%;
    /* margin: 0 auto; */
}
.quote--box{
    background-color: #fff;
    /* width: 700px; */
    width: 80%;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    /* border: 2px solid blue; */
    box-shadow: 0 10px 20px 0 rgba(75,102,12);
    margin: 0 auto;

}
.quote--box h2{ 
    font-size: 32px;
    margin-bottom: 40px;
    /* position: relative; */
    font-family: 'Satisfy', cursive;
}
.quote--box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #5f8575;
    /* position: absolute; */
    /* bottom: -10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.quote--box blockquote{
    font-size: 30px;
    min-height: 110px;
}
.author--name{
    font-style: italic;
    font-weight: bold;
    color: rgb(75, 102, 12);
    margin-bottom: 25px;
}
.quote--box button{
    background-color: #5f8575;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #5f8575;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.quote--box button:hover{
    background-color: transparent;
    border: rgb(75, 102, 12) 2px solid;
    color: rgb(75, 102, 12);
}